<% layout('../layout') %>

<section class="row section-title">

</section>

<section class="row section-centered-text">
  <p></p>
</section>

<section class="row section-big-image">
</section>

<section class="row section-centered-text">
</section>
