<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' \>
  </head>
  <body>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
